{% extends "_layouts/base.html" %}

{% block page_title %}{{ post.title }} | {% endblock %}

{% block page_content %}
    <div>
        <h2>{{ post.title }}</h2>
        {{ post.content|linebreaks }}
        <p>{{ post.updated_at }}</p>
        {% if post.author.id == user.id or user.is_superuser %}
            <a class="btn btn-default" href="{% url 'microblog:edit' slug=post.slug %}">Edit<span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'microblog:delete' slug=post.slug %}">Delete<span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <p><a href="{% url 'microblog:list' %}">&larr; Blog list</a></p>
    </div>
{% endblock %}
