{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <title>{% block page_title %}Sharing Blog{% endblock %}</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1><a href="/">Sharing Blog</a></h1>
            {% if user and not user.is_anonymous %}
            <!--Temporary to get username during websocket process-->
            <div id="username" style="display: none;" value="{{ user.username }}">{{ user.username }}</div>
            <div style="float: right;">
                <p>{% blocktrans with username=user.get_full_name|default:user.username %}Hello {{ username }}!{% endblocktrans %}</p>
                <a class="btn btn-lg btn-success" href="{% url 'auth:logout' %}?next={{ request.path }}">{% trans "Logout" %}</a>
            </div>
            {% else %}
                <a class="btn btn-lg btn-success" style="float: right;" href="{% url 'social:begin' 'google-oauth2' %}?next=/">{% trans "Login with Google" %}</a>
            {% endif %}
        </div>
        {% block page_content %}
        {% endblock %}
        <script type="application/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="application/javascript" src="{% static 'tornado_websockets/tornadowebsocket-es6.js' %}"></script>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <script type="application/javascript" src="{% static '/js/main.js' %}"></script>
    </body>
</html>
